@page "/fetchdata"
@using Mc2.CrudTest.Presentation.Shared
@inject HttpClient Http
@inject Services.CustomersService CustomerService;
<PageTitle>customers</PageTitle>



<p>This component demonstrates fetching data from the server.</p>

@if (customers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>DateOfBirth</th>
                <th>PhoneNumber</th>
                <th>Email</th>
                <th>BankAccountNumber</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in customers)
            {
                <tr>
                    <td>@customer.FirstName</td>
                    <td>@customer.LastName</td>
                    <td>@customer.DateOfBirth</td>
                    <td>@customer.PhoneNumber</td>
                    <td>@customer.Email</td>
                    <td>@customer.BankAccountNumber</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<CustomerReadViewModel>? customers;

    protected override async Task OnInitializedAsync()
    {
        var response = await CustomerService.GetAllAsync();
        customers = response.Data;
    }
}
